table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #E7E9EB;
}

.winner {
  background-color: #008f39;
  color:white;
}

.tie {
  background-color: #bdecb6;
  color:white;
}